<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W3 SCHOOLS</title>
    <link rel="stylesheet" href="/LAYOUT/lay.css">
</head>

<body>
    <div class="w3-container">
        <div class="header-page">
            <a href="#" class="active">
                w3schools
                <span class="mid">.com</span>
            </a>
            <p>THE WORLD'S LARGEST WEB DEVELOPER SITE</p>
        </div>
        <div class="tutorial-sec">
            <div class="tu-lay">
                <div class="tut-layout">
                    <a href="#" class="active">&equiv;</a>
                    <a href="#" class="active"></a>
                    <a href="#" class="active">HTML</a>
                    <a href="#" class="active">CSS</a>
                    <a href="#" class="active">JAVASCRIPT</a>
                    <a href="#" class="active">SQL</a>
                    <a href="#" class="active">PHP</a>
                    <a href="#" class="active">BOOTSTRAP</a>
                </div>
                <div class="two-sec">
                    <a href="#" class="active">
                        TUTORIALS
                        <i class="fa fa-caret-down"></i>
                        <i class="fa fa-caret-up"></i>
                    </a>
                    <a href="#" class="active">
                        REFRENCES
                        <i class="fa fa-caret-down"></i>
                        <i class="fa fa-caret-up"></i>
                    </a>
                </div>
                <div class="two-blocks">
                    <a href="#" class="active"></a>
                    <a href="#" class="active"></a>
                </div>
            </div>
           
        </div>

        <!-- aside layout container  -->
        <div class="aside-container">
            <div class="aside-lay">
                <div class="aside-wrap">
                    <h2>HTML TUTORIAL</h2>
                    <a href="#" target="_top">HTML HOME</a>
                    <a href="#" target="_top">HTML Introduction</a>
                    <a href="#" target="_top">HTML Editors</a>
                    <a href="#" target="_top">HTML Basic</a>
                    <a href="#" target="_top">HTML Elements</a>
                    <a href="#" target="_top">HTML Attributes</a>
                    <a href="#" target="_top">HTML Headings</a>
                    <a href="#" target="_top">HTML Paragraphs</a>
                    <a href="#" target="_top">HTML Styles</a>
                    <a href="#" target="_top">HTML Formatting</a>
                    <a href="#" target="_top">HTML Quotations</a>
                    <a href="#" target="_top">HTML Computercode</a>
                    <a href="#" target="_top">HTML Comments</a>
                    <a href="#" target="_top">HTML Colors</a>
                    <a href="#" target="_top">HTML CSS</a>
                    <a href="#" target="_top">HTML Links</a>
                    <a href="#" target="_top">HTML Blocks</a>
                    <a href="#" target="_top">HTML Classes</a>
                    <a href="#" target="_top">HTML Layout</a>
                    <a href="#" target="_top">HTML Responsive</a>
                    <a href="#" target="_top">HTML Iframes</a>
                    <a href="#" target="_top">HTML Javascripts</a>
                    <a href="#" target="_top">HTML Head</a>
                    <a href="#" target="_top">HTML Entites</a>
                    <a href="#" target="_top">HTML Symbols</a>
                    <a href="#" target="_top">HTML Charset</a>
                    <a href="#" target="_top">HTML URL Encode</a>
                    <a href="#" target="_top">HTML XHTML</a>
                    <h2>HTML FORMS</h2>
                    <a href="#" target="_top">HTML Forms</a>
                    <a href="#" target="_top">HTML Form Elements</a>
                    <a href="#" target="_top">HTML Input Types</a>
                    <a href="#" target="_top">HTML Input Attributes</a>
                    <h2>HTML 5</h2>
                    <a href="#" target="_top">HTML5 Intro</a>
                    <a href="#" target="_top">HTML5 Support</a>
                    <a href="#" target="_top">HTML5 Elements</a>
                    <a href="#" target="_top">HTML5 Semantics</a>
                    <a href="#" target="_top">HTML5 Migration</a>
                    <a href="#" target="_top">HTML5 Style Guide</a>
    
                    <h2>HTML GRAPHICS</h2>
                    <a href="#" target="_top">HTML Canavas</a>
                    <a href="#" target="_top">HTML SVG</a>
    
                    <h2>HTML Media</h2>
                    <a href="#" target="_top">HTML Media</a>
                    <a href="#" target="_top">HTML Video</a>
                    <a href="#" target="_top">HTML Audio</a>
                    <a href="#" target="_top">HTML Plug-ins</a>
                    <a href="#" target="_top">HTML YouTube</a>
    
                    <h2>HTML APIS</h2>
                    <a href="#" target="_top">HTML Geolocation</a>
                    <a href="#" target="_top">HTML Drag/Drop</a>
                    <a href="#" target="_top">HTML Local Storage</a>
                    <a href="#" target="_top">HTML App Cache</a>
                    <a href="#" target="_top">HTML Web Workers</a>
                    <a href="#" target="_top">HTML SSE</a>
    
                    <h2>HTML EXAMPLES</h2>
                    <a href="#" target="_top">HTML Examples</a>
                    <a href="#" target="_top">HTML Quiz</a>
                    <a href="#" target="_top">HTML5 Quiz</a>
                    <a href="#" target="_top">HTML Certificate</a>
                    <a href="#" target="_top">HTML5 Certificate</a>
                    <a href="#" target="_top">HTML5 Summary</a>
    
                    <h2>HTML References</h2>
                    <a href="#" target="_top">HTML Tag List</a>
                    <a href="#" target="_top">HTML Attributes</a>
                    <a href="#" target="_top">HTML Events</a>
                    <a href="#" target="_top">HTML Canvas</a>
                    <a href="#" target="_top">HTML Audio/Video</a>
                    <a href="#" target="_top">HTML Doctypes</a>
                    <a href="#" target="_top">HTML Colors</a>
                    <a href="#" target="_top">HTML Character Sets</a>
                    <a href="#" target="_top">HTML URL Encodes</a>
                    <a href="#" target="_top">HTML Lang Codes</a>
                    <a href="#" target="_top">HTML Messages</a>
                    <a href="#" target="_top">HTML Methods</a>
                    <a href="#" target="_top">HTML PX to EM converter</a>
                    <a href="#" target="_top">HTML Shortcuts</a>
                        <br>
                        <br>
                        "&nbsp;"
                </div>
            </div>
            
        </div>

        <!-- w3- main- text -->
        <div class="main-wrapper">
            <div class="white-block"></div>
            <h1>HTML(5) Tutorial</h1>
            <div class="chapter">
                <div class="previous">
                    &laquo;W3Schools Home
                </div>
                <div class="next">
                    Next Chapter&raquo;
                </div>
            </div>
            <div class="tut-intro">
                <img src="IMAGES/pic_html5.gif" alt="html" width="120px" height="120px">
                <p>With HTML you can create your own Web site.</p>
                <p>This tutorial teaches you everthing about HTML.</p>
                <p>HTML is easy to learn- You will enjoy it.</p>
            </div>
            <hr>
            <h2>Examples in Every Chapter</h2>
            <p>This HTML tutorial contains hundreds of HTML examples.</p>
            <p>With our online HTML editor, you can edit the HTML, and click
                on a button to view the result.
            </p>
            <div class="htm-example">
                <h2>Examples</h2>
                <div class="exp-explain">
                    <span class="high">&lt;</span>
                    <span class="hight">
                        ! DOCTYPE
                        <span class="red-w">html</span>
                    </span>
                    <span class="high">&gt;</span><br>
                    <span class="high">&lt;</span>
                    <span class="hight">html</span>
                    <span class="high">&gt;</span><br>
                    <span class="high">&lt;</span>
                    <span class="hight">head</span>
                    <span class="high">&gt;</span><br>
                    <span class="high">&lt;</span>
                    <span class="hight">title</span>
                    <span class="high">&gt;</span>
                    page Title
                    <span class="high">&lt;</span>
                    <span class="hight">/title</span>
                    <span class="high">&gt;</span><br>
                    <span class="high">&lt;</span>
                    <span class="hight">/head</span>
                    <span class="high">&gt;</span><br>
                    <span class="high">&lt;</span>
                    <span class="hight">body</span>
                    <span class="high">&gt;</span><br>
                    <span class="high">&lt;</span>
                    <span class="hight">h1</span>
                    <span class="high">&gt;</span>
                    This is a Headings
                    <span class="high">&lt;</span>
                    <span class="hight">/h1</span>
                    <span class="high">&gt;</span><br>
                    <span class="high">&lt;</span>
                    <span class="hight">p</span>
                    <span class="high">&gt;</span>
                    This is a paragraph.
                    <span class="high">&lt;</span>
                    <span class="hight">/p</span>
                    <span class="high">&gt;</span>
                        <br>
                    <span class="high">&lt;</span>
                    <span class="hight">body</span>
                    <span class="high">&gt;</span><br>
                    <span class="high">&lt;</span>
                    <span class="hight">/html</span>
                    <span class="high">&gt;</span>
                </div>
                <a href="#" class="btn">Try it Yourself &raquo;</a>
            </div>
            <div class="bord">
              <img src="IMAGES/lamp.jpeg" width=32px; height="32px" alt="lamp"> 
              <p>Click on the "Try it Yourself" button to see how it works.</p>
            
            </div>
            <a href="#" target="_blank">Start leraning HTML now!</a>
            <hr>
            <h2>HTML Examples</h2>
            <p>At the end of the HTML tutorial, you can find more than 200 examples.</p>
            <p>with our online editor, you can edit and test each example yourself.</p>
            <a href="#">Go to HTML EXAMPLES!</a>
            <hr>
            <h2>HTML Quiz Test</h2>
            <p>Test your HTML skills at W3Schools!</p>
            <a href="#">Start HTML Quiz!</a>
            <hr>
            <h2>HTML Refrences</h2>
            <p>At W3Schools you will find complete refrences about tags,attributes,events,
                color names,entites character-sets, URL encoding, language codes, HTTP
                messages, and more.
            </p>
            <a href="#">HTML Tag Refrences</a>
            <hr>
            <h2>HTML Exam - Get Your Diploma!</h2>
            <div class="exam-certi">
                <div class="img-wra">
                    <img src="IMAGES/w3cert.gif" alt="exam" width="100%">
                </div>
                <div class="exam-word">
                    <h2>W3Schools' Online Certification</h2>
                    <p>The perfect solution for professionals who need to balance work, family,
                        and career building.
                    </p>
                    <p>more than 10 000 certificates already issued!</p>
                </div>
            </div>
            <a href="#" class="btn">Get Your Certificate</a>
            <p>The <a href="#">HTML Certificate</a> documents your knowledge of HTML</p>
            <p>The <a href="#">HTML5 certificate</a> documents your knowledge of advanced HTML5</p>
            <p>The <a href="#">CSS Certificate</a> documents your knowledge of advanced CSS</p>
            <p>The <a href="#">JavaScript Certificate</a> documents your knowledge of JavaScript and HTML DOM</p>
            <p>The <a href="#">jQuery Certificate</a> documents your knowledge of jQuery</p>
            <p>The <a href="#">PHP Certificate</a> documents your knowledge of PHP and SQL (MySQL)</p>
            <p>The <a href="#">XML Certificate</a> documents your knowledge of XML, XML DOM and Xslt</p>
            <div class="chapter">
                <div class="previous">
                    &laquo;W3Schools Home
                </div>
                <div class="next">
                    Next Chapter&raquo;
                </div>
            </div>
            <div class="side-section">
                <h3>W3SCHOOLS EXAM</h3>
                <p>
                    <a href="#">HTML, CSS, JavaScript, PHP, jQuery, and XML Certifications</a>

                <h3>COLOR PICKER</h3>
                <img src="IMAGES/colorpicker.gif" alt="color" width="80px;" height="80px">
                <h3>SHARE THIS PAGE</h3>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google+"></i></a>
                <a href="#"><i class="fa fa-thumbs-up"></i></a>
                <h3>LEARN MORE:</h3>
                <a href="#">Color Converter</a>
                <a href="#">Google Maps</a>
                <a href="#">Animated Buttons</a>
                <a href="#">Model Boxes</a>
                <a href="#">Tooltips</a>
                <a href="#">Loaders</a>
                <a href="#">Ls Animations</a>
                <a href="#">Progress Bars</a>
                <a href="#">DRopdows</a>
                <a href="#">Slide Navigation</a>
                <a href="#">HTML Includes</a>
                <a href="#">Color Palettes</a>
                </p>
            </div>
            <hr>
            <hr>
            <div class="err-pag">
                <div class="e-rr">
                    <a href="#">REPORT ERROR</a>
                </div>
                <div class="e-rr">
                    <a href="#">PRINT PAGE</a>
                </div>
                <div class="e-rr">
                    <a href="#">FORUM</a>
                </div>
                <div class="e-rr">
                    <a href="#">ABOUT</a>
                </div>
            </div>
            <hr>
            <div class="top-tuto">
                <div class="tut-all">
                    <h2>Top 10 Tutorials</h2>
                    <p>
                        <a href="#">HTML Tutorial</a>
                        <a href="#">CSS Tutorial</a>
                        <a href="#">JavaScript Tutorial</a>
                        <a href="#">W3.CSS Tutorial</a>
                        <a href="#">Bootstrap Tutorial</a>
                        <a href="#">SQL Tutorial</a>
                        <a href="#">PHP Tutorial</a>
                        <a href="#">jQuery Tutorial</a>
                        <a href="#">Angular Tutorial</a>
                        <a href="#">XML Tutorial</a>
                    </p>
                </div>
                <div class="tut-all">
                    <h2>Top 10 Refrences</h2>
                    <p>
                        <a href="#">HTML Refrences</a>
                        <a href="#">CSS Refrences</a>
                        <a href="#">JavaScript Refrences</a>
                        <a href="#">W3.CSS Refrences</a>
                        <a href="#">Bootstrap Refrences</a>
                        <a href="#">SQL Refrences</a>
                        <a href="#">PHP Refrences</a>
                        <a href="#">jQuery Refrences</a>
                        <a href="#">AngularJS Refrences</a>
                        <a href="#">XML Refrences</a>
                    </p>
                </div>
                <div class="tut-all">
                    <h2>Top 10 Examples</h2>
                    <p>
                        <a href="#">HTML Examples</a>
                        <a href="#">CSS Examples</a>
                        <a href="#">JavaScript Examples</a>
                        <a href="#">W3.CSS Examples</a>
                        <a href="#">HTML DOM Examples</a>
                        <a href="#">SVG Examples</a>  
                        <a href="#">PHP Examples</a>
                        <a href="#">jQuery Examples</a>
                        <a href="#">ASP Examples</a>
                        <a href="#">XML Examples</a>
                    </p>
                </div>
                <div class="tut-all">
                    <h2>Web Certificate</h2>
                    <p>
                        <a href="#">HTML Certificate</a>
                        <a href="#">HTML5 Certificate</a>
                        <a href="#">CSS Certificate</a>
                        <a href="#">JavaScript Certificate</a>
                        <a href="#">jQuery Examples</a>
                        <a href="#">PHP Certificate</a>
                        <a href="#">Bootstrap Certificate</a>
                        <a href="#">XML Examples</a>
                    </p>
                </div>
                
            </div>
            <hr>
            <div class="footer">
                <p>W3Schools is optimized for learning, testing, and training. 
                    Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. 
                    Copyright 1999-2016 by Refsnes Data. All Rights Reserved.
                </p>
                <img src="/LAYOUT/IMAGES/w3schoolscom_gray.gif" alt="w3-school-certi" width="150px" heigth="28px">
            </div>
           

        

    </div>
    </div>
</body>

</html>